---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
NamespaceIndentation: All
PointerAlignment: Left
AlignEscapedNewlines: Left
UseTab: Always
IndentWidth: 4
TabWidth: 4

#AllowShortBlocksOnASingleLine: false
#AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
#AllowShortLambdasOnASingleLine: All
#AllowShortIfStatementsOnASingleLine: WithoutElse
#AllowShortLoopsOnASingleLine: false

Cpp11BracedListStyle: false

AllowAllConstructorInitializersOnNextLine: true

AlwaysBreakTemplateDeclarations: Yes

IndentCaseLabels: true
IndentCaseBlocks: false

SortIncludes: Never

SpacesBeforeTrailingComments: 2

MaxEmptyLinesToKeep: 1

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterNamespace: false

#
# Break inheritance list and constructor initializers before colon.
#
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false

